*{
    box-sizing: border-box;
}

.main-client{
    background-color: black;
    width: 100dvw;
    height: 100dvh;

}
.navbar-client{
    background-color: #081026f0;
    height: 100dvh;
    width: 15dvw;
    padding: 10px;
}

.navbar-client ul li{
    color: white;
    writing-mode: vertical-lr;
    margin-top: 25px;
    list-style: none;
    /* text-decoration: none; */
    /* transform-origin:0  ;
    transform:rotate(90deg); */
    /* margin-top:100px ; */
}
.avatar-client img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
@media (min-width: 1000px){
    .navbar-client {
        width: 10dvw !important;
    }
    }

@media (min-width: 870px){
    .navbar-client {
        width: 11dvw;
    }
    }
@media (min-width: 768px){
.navbar-client {
    width: 11dvw;
}
}
@media (min-width:670px) {
    .navbar-client{
        width: 13dvw;
    }
}
@media (max-width:545px) {
    .avatar-client img {
        width: 50px;
        height: 50px;
}
.navbar-client ul{
    padding-left: 1rem;
}
}
@media (max-width:440px) {
    .navbar-client{
        width: 18dvw;
    }
}
@media (max-width:390px) {
    .navbar-client{
        width: 20dvw;
    }
}
@media (max-width: 310px){
.avatar-client img {
    width: 40px;
    height: 40px;
}
}