.main-our-team{
    background-color: #020a21;
    padding: 50px;
    background-image: url(../img/trainer.png);
    position: relative;
}
.main-our-team::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #020a21e3;
    top: 0;
    left: 0;
}
.our-team-slider .swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-our-team h5{
color: #FF9800;
font-weight: bold;
letter-spacing: 2px;
z-index: 1;
position: relative;
}
.main-our-team h3{
    color: white;
    z-index: 1;
    position: relative;
}

.team-card {
    background-color:#36383b;
    
}

.team-card .team-img {
    width: 100%;
    height: 250px;
 
}

.team-card .coach-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.team-card .coach-info h3 {
    color: white;
    border: 2px solid #FF9800;
    padding: 10px;
    border-radius: 5px;
}
.team-card{
    margin: 0.5rem;
    background-size: cover;

    cursor: pointer;
    border: 1.5px solid #FF9800;
    border-radius: 5px;
}
.team-card p{
    font-size: 14px;
    color: #dcd5d5;
}
.team-card button{
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: #FF9800;
    color: #020a21;
    border: none;
    border-radius: 5px;
}
.team-card .coach-info {
    /* opacity: 0;
    transition: 1s linear; */
}

/* .team-card:hover.team-card .coach-info{
    opacity: 1;
}
.team-card:hover.team-card{
    border: 2px solid #FF9800;
} */
.slick-prev:before, .slick-next:before  {
    color: #020a21 !important;
    font-size: 25px;
    position: absolute;
    width: 31px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FF9800 ;
    /* margin-left: 4px;
    position: absolute; */
}

.slick-prev:before {
    /* position: relative; */
    margin-left: -9px;
    
}
.slick-dots li button:before{
    color: #FF9800 !important;
    font-size: 10px;
}